* {
    background-color: black;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: black;
}
.nav-item{
    padding-right: 1px;
}
body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.mynavbar nav .container-fluid .d-flex a{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.mynavbar nav .container-fluid .collapse{
    justify-content: end;
}
.log {
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: -5px;
}

.log:hover{
    background: black;
}

.txt{
    margin-top: 25px;
}
/* nav ul li a{
    color: rgb(255, 254, 254);
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 9px;
    border-radius: px;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li ul{
    display: none;
    min-width: 80px;
    background: rgb(0, 0, 0);
    position: absolute;
    font-weight: 600;
    text-decoration: none;
    color: rgb(158, 48, 48);
    border: 1px solid white;
    font-size: 15px;
    position: relative;
}
nav ul li:hover ul.dropdown {
    display: block;
    margin-top: 0px;
    text-decoration: none;
    position: fixed;
    padding-left: 0px;
    padding-right: 0px;
     color: rgb(0, 0, 0);
   /* Display the dropdown 
} */

a.li,
a:hover {
    color: white;
    text-decoration: none;
    transform: .5s;
}


.heading{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.heading hr{
    width:70px;
    height:2px;
    display: block;
    float: left;
    margin-right: 30px;
    margin-top: 28px;
    border-color: #66FCF1;
   /* background: #66FCF1; */
}

.heading h3{
    font-size: 50px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    color: #fff;
    animation: reveal 1s ease-in;
}

.heading h4{
    font-size: 16px;
    margin-left: 0px;
    margin-top: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color:#66FCF1;
    margin-bottom: 60px;
    letter-spacing: 0.6px;
}
.heading a{
    text-decoration: none;
    color: white;
}
.heading h5{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #66FCF1;
    margin-left:0px;
    margin-top: 0px;
    width:355px;
    white-space: nowrap;
}

#myBtnContainer{
    width: 85%;
    margin: 0 auto;
}


.show {
    display: flex;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #66FCF1;
    color: #000;
  }
  
  /* Add a dark background to the active button */
  .btn.activ {
    background-color: #666;
    color: white;
  }


  .container {
    width: 100%;
  }

.filterDiv {
    width: 100%;
    margin: 1px;
    box-sizing: border-box;
      border: 1px solid white;
      border-radius: 10px;
      display:flex;
      margin-bottom: 40px;  
      display: none;
  }

  .filterDiv.pic{
    flex-basis: 19%;
  }
  .pic img{
    float: left;
    width: 90%;
    margin: 15px 0px 15px 20px;
    border-right: 4px solid #66FCF1;
}
.content{
    flex-basis: 79%;
    margin-left: 50px;
}
.content h1{
    padding-top: 25px;
    padding-left: 30px;
    color: #fff;
}
.content p{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 50px;
    text-align: justify;
        text-justify: inter-word;
        line-height: 1.5;
    font-size: 20px;
    color: #fff;
}

   

.ftblock{
    width: 100%;
    margin-top: 40px;
    margin: 0 auto;
   /*border: 1px solid white; */
}
.foo1{
    width: 90%;
    display: flex;
    flex-direction: row; 
    margin: auto;
/*     border: 1px solid yellow; */
}
.foo2{
    margin-top: 20px;
    width: 40%;
    padding-right: 20px;
    /*border: 1px solid blue;*/
}

.foo2 a{
    color: rgb(202, 202, 202);
    width: 5px;
    margin-top: 10px;
    font-weight: normal;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}
.foo2 a:hover{
    background-color: black;
    color: white;
}
.foo2 p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: rgb(202, 202, 202);
    margin-bottom: 1px;
}
/*.foo2 hr{
    margin-top: 30px;
    width: 100px;
    font-weight: bolder;
    color: #66FCF1;
    font-size: normal;
    float: left;
    border: 1px solid white;
} 
.foo{
    width: 15%;
} */
.foo3{
    width: 18%;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid white;*/
}
.foo3 h1{
    margin-top: 0px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 22px;
  /*  margin-left: 30px; */
    font-family: 'Times New Roman', Times, serif;
}
.foo3 li{
    margin-top: 30px;
    font-size: 15px;
    color: rgb(202, 202, 202); 
    line-height:0.5px;
    list-style: none;
}
.foo3 a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.foo3 a:hover{
    color: white;
}
.foo4{
    margin-top: 0px;
    width: 18%;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid green;*/
}
.foo4 h1{
    margin-top: 40px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.foo4 ul{
    margin-top: 30px;
    font-size: 16px;
    color: rgb(202, 202, 202);
    line-height: 0.5px;
    padding: 0.1px;
}
.foo4 a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.foo4 a:hover{
    color: white;
}
.foo5{
    width: 18%;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid red;*/
}
.foo5 h1{
    margin-top: 40px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.foo5 li{
    margin-top: 30px;
    margin-left: 1px;
    font-size: 15px;
    color: rgb(202, 202, 202);
    list-style: none;
    line-height:0.5px;
    padding: 0.1px;
}
.foo5 li a{
    /*text-decoration: none; */
    color: rgb(202, 202, 202);
}
.fthr{
    margin: 0 auto;
}
.fthr hr{
    width: 100%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 6px;
    border: 1px solid rgb(202, 202, 202);
}
.last{
    width: 90%;
    margin: 6px auto;
    
}
.last h1{
    color: rgb(202, 202, 202);
    font-size: 14px;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 6px;
    float: left;
}
.koktail a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.llog {
    margin-top: 45px;
    margin-bottom: 4px;
}
.llog a{
    font-size: 18px;
    color: rgb(202, 202, 202);
    margin: 15px;
    transition: transform .2s;
}
.llog a:hover .fa{
    background: black;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}












@media screen and (max-width: 800px)
{

    .mynavbar nav .container-fluid .d-flex a{
        font-size: 29px;
    }
    .mynavbar nav .container-fluid .collapse{
        justify-content:left;
    }
    .heading hr{
        width:40px;
        height:2px;
        display: block;
        float: left;
        margin-right: 10px;
        margin-top: 28px;
        border-color: #66FCF1;
       /* background: #66FCF1; */
    }
    
    .heading h3{
        font-size: 43px;
        margin-left: 0px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 40px;
        animation: reveal 1s ease-in;
    }
    
    .heading h4{
        font-size: 16px;
        margin-left: 0px;
        margin-top: 30px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color:#66FCF1;
        margin-bottom: 10px;
        letter-spacing: 0.6px;
    }
    .filterDiv {
        width: 100%;
        margin: 1px;
        box-sizing: border-box;
          border: 1px solid white;
          border-radius: 10px;
          display:flow-root;
          margin-bottom: 40px;  
          display: none;
      }

    .filterDiv.pic{
        flex-basis: 0%;
        display: none;
      }
      .pic img{
        width: 0%;
        display: none;
        border-right: 4px solid #66FCF1;
    }
    .content{
        width: 99%;
        margin: 0 auto;
        flex-basis: 99%;
        display: block;
    }
    
    .btn {
        border: none;
        outline: none;
        padding: 8px 14px;
        margin: 5px;
        background-color: #f1f1f1;
        cursor: pointer;
      }
      .content h1{
        padding-top: 25px;
        color: #fff;
        font-weight: 350;
    }
    .content p{
        padding-top: 15px;
        width: 100;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        text-align: justify;
            text-justify: inter-word;
            line-height: 1.5;
        font-size: 20px;
        color: #fff;
        padding-bottom: 20px;
        font-weight: 350;
    }
          .ftblock{
            width: 100%;
            padding-top: 30px;
        }
        .foo1{
            width:90%;
            display: flow-root;
            margin: 0 auto;
            flex-direction: row;
        }
        .foo2{
            margin-top: 70px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 10px;
            /* text-align: center;
            align-items: center;
            justify-content: center; */
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 50px;
            /* border: 1px solid white; */
        }
        .foo2 a{
            color: white;
            height: 10vh;
            margin-bottom: 2px;
            text-decoration: none;
            text-align: center;
            align-items: center;
            font-weight: normal;
            font-size: 40px;
            font-family: 'Montserrat', sans-serif;
            /* border: 1px solid white; */
        }
        .foo2 a:hover{
            background-color: black;
        }
        .foo2 p{
            margin-top: 30px;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.7;
            color: rgb(182, 178, 178);
            margin-bottom: 50px;
        }
        .foo2 hr{
            margin-top: 30px;
            width: 100px;
            font-weight: bolder;
            color: #66FCF1;
            font-size: normal;
            float: left;
        }
        .foo3{
            width: 80%;
            margin-top: 10px;
            margin: auto;
            text-align: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .foo3 h1{
            margin-top: 40px;
            color: white;
            font-weight: normal;
            font-size: 22px;
            margin-left: 10px;
            font-family: 'Times New Roman', Times, serif;
        }
        .foo3 li{
            margin-top: 20px;
            margin-left: 0px;
            font-size: 16px;
            color: white;  
            line-height:10px;
        }
        .foo3 a{
            text-decoration: none;
            color: white;
        }
        .foo4{
            margin-top: 50px;
            width: 80%;
            margin: auto;
            text-align: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .foo4 h1{
            margin-top: 40px;
            color: white;
            font-weight: normal;
            font-size: 22px;
            font-family: 'Times New Roman', Times, serif;
        }
        .foo4 ul{
            margin-top: 10px;
            font-size: 15px;
            color: white;
            line-height: 1; 
            margin-left: 0px;  
        }
        .foo4 a{
            text-decoration: none;
            color: white;
        }
        .foo5{
            width: 80%;
            margin-top: 30px;
            margin: 0 auto;
            text-align: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 20px;
        }
        .foo5 h1{
            margin-top: 40px;
            color: white;
            font-weight: normal;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }
        .foo5 li{
            margin-top: 30px;
            margin-left: 1px;
            font-size: 15px;
            color: white; 
        }
        .foo5 li a{
            /*text-decoration: none; */
            color: white;
        }
        .ftblock hr{
            width: 100%;
            height: 2px;
            margin-top: 80px;
            margin: 0 auto;
            text-align: center;
            align-items: center;
        }
        .last{
            width: 90%;
            height: 5vh;
            margin: 0 auto;
        }
        .last h1{
            color: rgb(182, 178, 178);
            font-size: 14px;
            margin-top: 8px;
            font-weight: normal;
            margin-bottom: 8px;
            float: left;
        }
        .koktail a{
            text-decoration: none;
            color: whitesmoke;
        }
        .llog {   
            margin: 5px;
        }
        .llog a{
            font-size: 20px;
            color: whitesmoke;
            margin: 8px;
            transition: transform .2s;
        }
        .llog a:hover .fa{
            background: black;
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2); 
            transform: scale(1.2); 
        }
        
}
