* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.navbar{
    background-color: black;
}
.mynavbar nav .container-fluid .d-flex a{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.nav-item{
    padding-right: 1px;
}
.container p{
    color: white;
}

.row1{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background-image: url(image/baklol1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}
.info{
    flex-basis: 60%;
    z-index: 2;
}
.image{
    flex-basis: 38%;   
    z-index: 1; 
}


.p h1 {
    margin-top: 200px;
    font-size: 90px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    width:100%;
    letter-spacing: 3px;
    transform: translateX(-100px);
    opacity: 0; 
    transition: 550ms;
}

.p h1.show{
    transform: translateX(0);
    opacity: 1;
}

.p h4 {
    border: 2px solid #66FCF1;
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 100px;
    letter-spacing: 0.6px;
    margin-left: 1px;
    transform: translateX(-100px);
    opacity: 0;  
    transition: 250ms;
}
.p a{
    text-decoration: none;
    color: white;
}
.p h4.show{
    transform: translateX(0);
    opacity: 1;
}

.p h4:hover {
    color: white;
    cursor: pointer;
}

.image {
    background-image: url(image/baklol.png);
    background-repeat: no-repeat;
    overflow:scroll;
}

.menu2 {
    color: white;
    margin-top: 20px;
}

.menu2 h3 {
    font-size: 28px;
    margin-top: 20px;
    padding-left: 20px;
   
}

.menu2 p{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 14px;
    padding-left: 20px;
    line-height: 1.5;
    padding-bottom: 20px;
    margin-bottom: 50px;
    
}

.future {
    color: white;
    background-color: #121212;
    border: 2px solid #121212;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;  
    padding-right: 5px;
}
.future.show{
    transform: translateY(0);
    opacity: 1;
}

.future:hover {
    border: 2px solid #66FCF1;
}

.future img {
    display: inline-block;
    padding: 4px;
    margin: 10px 0px 0 0;
    background-color: #121212;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
    
}

.big {
    color: white;
    background-color: #121212;
    border: 2px solid #66FCF1;
    transform: translateY(100px);
    opacity: 0;
    transition: 650ms;   
    padding-right: 5px;
    margin: 0 20px;
}
.big.show{
    transform: translateY(0);
    opacity: 1;
}


.big:hover {
    border: 2px solid #66FCF1;
}

.big img {
    display: inline-block;
    padding: 4px;
    margin: 10px 0px 0 0;
    background-color: #121212;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
   
    /*display: inline-block;
    padding: 4px;
    margin: 4px;
    background-color: #121212;
    height: 55px;
    margin-top: 30px;
    margin-left: 15px;
    border: 1px solid white; */
}

.creative {
    color: white;
    float: right;
    background-color: #121212;
    border: 2px solid #121212;
    transform: translateY(100px);
    opacity: 0;
    transition: 850ms;   
    padding-right: 5px;
}
.creative.show{
    transform: translateY(0);
    opacity: 1;
}

.creative:hover {
    border: 2px solid #66FCF1;
}

.creative img {
    display: inline-block;
    padding: 3px;
    margin: 10px 0px 0 0;
    background-color: #121212;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 15px;
  
}



.grey1{
    width:100%;
    background-color: #0B0C10;
    margin-top: 150px;
    display: flex;
}

.section2 {
    padding-top: 120px;
    padding-bottom: 100px;
}

.name {
    color: white;
    
}

.name hr {
    width: 60px;
    height: 2px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 28px;
    border-color: #66FCF1;
    /* background: #66FCF1; */
    transform: translateX(-100px);
    opacity: 0;
    transition: 250ms;
}
.name hr.show{
    transform: translateX(0);
    opacity: 1;
}


.name h3 {
    font-size: 48px;
    font-weight: 500;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    transform: translateX(-100px);
    opacity: 0;
    transition: 250ms;
}
.name h3.show{
    transform: translateX(0);
    opacity: 1;
}


.name h4 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 30px;
    font-family: Geneva, sans-serif;
    color: #66FCF1;
    transform: translateX(-100px);
    opacity: 0;
    transition: 450ms;
}
.name h4.show{
    transform: translateX(0);
    opacity: 1;
}

.services {
    text-align: center;
    color: white;
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.services a{
    text-decoration: none;
    color: white;
}

.services h1 {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
}

.services p {
    font-family: Geneva, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.digital {
    margin: 20px;
    box-sizing: content-box;
    width: 77%;
    background-color: #121212;
    border-radius: 0px;
    box-shadow: 0 4px white;
    transform: translateY(100px);
    opacity: 0;
    transition: 250ms;
}
.digital.show{
    transform: translateY(0);
    opacity: 1;
}

.digital img {
    display: inline-block;
    padding: 4px;
    margin: 20px 0px 0 0;
    background-color: #121212;
    border-radius: 5px;
    height: 50px;
    width: 55px;
}

.digital:hover {
    /*box-shadow: 0 4px #66FCF1;*/
    background-color: #66FCF1;
    color: black;
    cursor: pointer;
}


.uidesign {
    margin: 20px;
    color: black;
    background-color: #66FCF1;
    box-sizing: content-box;
    width: 77%;
    border-radius: 0px;
    box-shadow: 0 4px white;
    transform: translateY(100px);
    opacity: 0;
    transition: 450ms;
}
.uidesign.show{
    transform: translateY(0);
    opacity: 1;
}

.uidesign img {

    display: inline-block;
    padding: 4px;
    margin: 20px 0px 0 0;
    background-color: #66FCF1;
    height: 55px;
    width: 55px;
}

.uidesign:hover {
    box-shadow: 0 4px white;
    cursor: pointer;
}

.cwriting {
    margin: 20px;
    background-color: #121212;
    box-sizing: content-box;
    width: 77%;
    border-radius: 0px;
    box-shadow: 0 4px white;
    transform: translateY(100px);
    opacity: 0;
    transition: 650ms;
}
.cwriting.show{
    transform: translateY(0);
    opacity: 1;
}

.cwriting img {
    display: inline-block;
    padding: 4px;
    margin: 20px 0px 0 0;
    background-color: #121212;
    height: 50px;
    width: 55px;
    border-radius: 5px;
}

.cwriting:hover {
   /* box-shadow: 0 4px #66FCF1;*/
    cursor: pointer;
    background-color: #66FCF1;
    color: black;
}





.services2 {
    text-align: center;
    color: white;
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.services2 h1 {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
}
.services2 h1 span{
    font-size: 22px;
}
.services2 p {
    font-family: Geneva, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.Marketing {
    margin: 20px;
    box-sizing: content-box;
    width: 77%;
    background-color: #121212;
    border-radius: 0px;
    box-shadow: 0 4px white;
    transform: translateY(100px);
    opacity: 0;
    transition: 250ms;
    margin-bottom: 4px;
}
.Marketing.show{
    transform: translateY(0);
    opacity: 1;
}

.Marketing img {
    display: inline-block;
    padding: 4px;
    margin: 20px 0px 0 0;
    background-color: #121212;
    height: 50px;
    width: 55px;
    border-radius: 5px;
}

.Marketing:hover {
   /* box-shadow: 0 4px #66FCF1;*/
    cursor: pointer;
    background-color: #66FCF1;
    color: #000;
}

.Web {
    margin: 20px;
    color: white;
    background-color: #121212;
    box-sizing: content-box;
    width: 77%;
    border-radius: 0px;
    box-shadow: 0 4px white;
    transform: translateY(100px);
    opacity: 0;
    transition: 450ms;
    margin-bottom: 4px;
}
.Web.show{
    transform: translateY(0);
    opacity: 1;
}

.Web img {
    display: inline-block;
    padding: 4px;
    margin: 20px 0px 0 0;
    background-color: #121212;
    height: 55px;
    width: 55px;
    border-radius: 5px;
}

.Web:hover {
   /* box-shadow: 0 4px #66FCF1;*/
    cursor: pointer;
    background-color: #66FCF1;
    color: #000;
}

.Social {
    margin: 20px;
    background-color: #121212;
    box-sizing: content-box;
    width: 77%;
    border-radius: 0px;
    box-shadow: 0 4px white;
    transform: translateY(100px);
    opacity: 0;
    transition: 650ms;
    margin-bottom: 4px;
}
.Social.show{
    transform: translateY(0);
    opacity: 1;
}

.Social img {
    display: inline-block;
    padding: 4px;
    margin: 20px 0px 0 0;
    background-color: #121212;
    height: 50px;
    width: 55px;
    border-radius: 5px;
}

.Social:hover {
    /*box-shadow: 0 4px #66FCF1;*/
    cursor: pointer;
    background-color: #66FCF1;
    color: #000;
}






.section3{
    height: 75vh;
    background-color: #121212;
    width: 100%;  
}

.works {
    width: 85%;
    margin: 0 auto; 
/*     border:1px solid white;
 */}

.header1 {
    color: white;
   /*border:1px solid white; */
}
.header1 a{
    text-decoration: none;
    color: white;
}

.heading hr{
    width:60px;
    height: 2px;
    float: left;
    margin-right: 20px;
    margin-top: 28px;
    border-color: #66FCF1;
    transform: translateX(0px);
    opacity: 1;
    transition: 250ms;
}
.heading hr.show{
    transform: translateX(0);
    opacity: 1;
}

.heading h3{
    font-size: 48px;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    transform: translateX(-100px);
    opacity: 0;
    transition: 250ms;
}
.heading h3.show{
    transform: translateX(0);
    opacity: 1;
}

.heading h4{
    font-size: 16px;
    margin-left: 0px;
    margin-top: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color:#66FCF1;
    margin-bottom: 60px;
    letter-spacing: 0.6px;
    transform: translateX(-100px);
    opacity: 0;
    transition: 550ms;
}
.heading h4.show{
    transform: translateX(0);
    opacity: 1;
}

.heading{
    float: left;
}

.wview{
    border: 2px solid #66FCF1;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    float:right;
    margin-top: 130px;
    margin-right: 80px;
    transform: translateX(100px);
    opacity: 0;
    transition: 250ms;
}
.wview.show{
    transform: translateX(0);
    opacity: 1;
}

.wview:hover{
    cursor: pointer;
}

.pictures{
    display: flex;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 20px; 
    padding-left: 0px;   
    margin-bottom: 100px;
}

.pictures img{
    height: 31vh;
    width: 90%;
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px;
}
.img1{
    margin-left: 10px;
    transform: translateY(100px);
    opacity: 0;
    transition: 250ms;
}
.img1.show{
    transform: translateY(0);
    opacity: 1;
}
.img2{
    margin-left: 10px;
    transform: translateY(100px);
    opacity: 0;
    transition: 450ms;
}
.img2.show{
    transform: translateY(0);
    opacity: 1;
}
.img3{
    margin-left: 10px;
    transform: translateY(100px);
    opacity: 0;
    transition: 550ms;
}
.img3.show{
    transform: translateY(0);
    opacity: 1;
}
.img4{
    margin-left: 10px;
    transform: translateY(100px);
    opacity: 0;
    transition: 650ms;
}
.img4.show{
    transform: translateY(0);
    opacity: 1;
}




.about {
    width: 85%;
    display: flexbox;
    margin: 0 auto; 
}

.aname {
    color: white;
    margin-top: 100px;
}

.aname hr{
    width:60px;
    height:2px;
    display: block;
    float: left;
    margin-right: 30px;
    margin-top: 28px;
    border-color: #66FCF1;
   /* background: #66FCF1; */
   transform: translateX(-100px);
   opacity: 0;
   transition: 250ms;
}
.aname hr.show{
    transform: translateX(0);
    opacity: 1;
}

.aname h3{
    font-size: 48px;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    transform: translateX(-100px);
    opacity: 0;
    transition: 250ms;
    
}
.aname h3.show{
    transform: translateX(0);
    opacity: 1;
}

.aname h4{
    font-size: 16px;
    margin-left: 0px;
    margin-top: 30px;
    font-family: Geneva, sans-serif;
    color:#66FCF1;
    font-weight: 200;
    transform: translateX(-100px);
    opacity: 0;
    transition: 450ms;
}
.aname h4.show{
    transform: translateX(0);
    opacity: 1;
}
.intro{
    color: white;
    margin-left: 10px;
    margin-top: 25px;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-weight: 500;
}

.blocks{
    height: 700px;
  /*  border: 1px solid white;  */
    display: flexbox;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.blocks h3{
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;
}
.blocks h3.show{
    transform: translateY(0);
    opacity: 1;
}
.block1{
    background-image: url(image/off1.png);
    float:left;
    height:700px;
    width: 49%;
    background-size: cover;   
}

.block1 h3{
    color: white;
    height: 30px;
    width: 200px;
    margin-top: 600px;
    margin-left: 20px;
    font-size: 25px;
}

.block1 h4{
    color: white;
    height: 30px;
    width: 300px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

.block2 {
    background-image: url(image/off2.png);
    background-size: cover;
    float: right;
    height:325px;
    width: 49%;
}

.block2 h3{
    color: white;
    height: 20px;
    width: 200px;
    margin-top: 250px;
    margin-left: 20px;
    font-size: 25px;
}

.block2 h4{
    color: white;
    height: 30px;
    width: 300px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.block3 {
    background-image: url(image/off4.png);
    background-size: cover;
    height:325px;
    width: 49%;
    margin-top: 50px;
    float:right;
}

.block3 h3{
    color: white;
    height: 20px;
    width: 200px;
    margin-top: 240px;
    margin-left: 20px;
    font-size: 25px;
}

.block3 h4{
    color: white;
    height: 30px;
    width: 300px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.amoto{
    color: white;
    display: flex; 
    margin-top: 80px;
    margin-bottom: 120px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;
}
.amoto.show{
    transform: translateY(0);
    opacity: 1;
}

.amoto h3{
    font-size: 23px;
}

.amoto p{
    font-size: 14px;
    line-height: 1.8;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}
.who{
    width: 25%;
  /*  border: 1px solid white;*/
}




.testimonials{
    background-color: #121212;
    width: 100%;
    display:flow-root;
}

.theader {
    width: 85%;
    color: white;
    /*border:2px solid white; */
    margin: 0 auto; 
    font-family: arial;
}

.theader hr{
    width:50px;
    height:2px;
    display: block;
    float: left;
    margin-right: 20px;
    border-color: #66FCF1;
    margin-top: 29px;
    transform: translateX(-100px);
    opacity: 0;
    transition: 250ms;
   /* background: #66FCF1; */
}
.theader hr.show{
    transform: translateX(0);
    opacity: 1;
}

.theader h3{
    font-size: 48px;
    margin-left: 20px;
    padding-top: 60px; 
    transform: translateX(-100px);
    opacity: 0;
    transition: 250ms;
    font-family: 'Montserrat', sans-serif;
}
.theader h3.show{
    transform: translateX(0);
    opacity: 1;
}

.theader h4{
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;
    text-transform: uppercase;
    color:#66FCF1;
    margin-bottom: 40px;
    letter-spacing: 0.6px;
    margin-top: 30px;
    transform: translateX(-100px);
    opacity: 0;
    transition: 550ms;
}
.theader h4.show{
    transform: translateX(0);
    opacity: 1;
}

.feedback{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.feeds{
    width: 24%; 
    margin: 0 auto;
    margin-top: 40px;
    background-color: #121212;
    color: white;
    margin-bottom: 100px;
    display: flexbox;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;
}
.feeds.show{
    transform: translateY(0);
    opacity: 1;
}

.imag{
    height: 59px;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    width: 80px;
    margin-top: 0px;
    background-image: url(image/test.png);
    background-size: 100%;
}

.fi1{
    height: 80%;
    padding-top: 30px;
    background-color: black;
    border: 1px solid rgb(73, 73, 73);
}
.feeds img{
    background-color: black;
    height: 70px;
    margin-left: 40%;
    margin-top: 37px;
    border-radius: 50%;  
}

.feeds p{
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 1.5;
    letter-spacing: 0.3px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.feeds h5{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.feeds h6{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}




.latest{
    width: 100%;
    display: flex;
    flex-direction: column;  
}
.late2{
    margin-top: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.late2 h1 {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: white;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;  
}
.late2 h1.show{
    transform: translateX(0);
    opacity: 1;
}
.late2 p{
    font-size: 15px;
    color:#66FCF1;
    margin-top: 25px;
    margin-bottom: 20px;
    transform: translateY(100px);
    opacity: 0;
    transition: 450ms;
}
.late2 p.show{
    transform: translateX(0);
    opacity: 1;
}
.tarikh{
    width: 360px;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;
    margin-bottom: 100px;
}
.tarikh.show{
    transform: translateX(0);
    opacity: 1;
}
.tarikh h6{
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
    color: white;
    margin-bottom: 15px;   
}
.tarikh h3 a{
    font-size: 25px;
    font-weight: 500;
    color: white; 
}
.tarikh p{
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}
.tarikh h4 a{
    font-size: 15px;
    font-weight: 500;
    color: #66FCF1;
}
.tarikh a:hover{
    background-color: black;
}

.post-container{
    margin-top: 40px;
}
.post-container .post{
    width: 90%;
    height: 300px;
    background: #121212;
    margin: 0 auto;
    margin-bottom: 20px;
}
.post-container .post .image img{
    height: 250px;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    object-fit: cover;
}
.post-container .post .content{
    padding: 0 20px;
}
.post-container .post .content h3{
    padding-top: 20px;
    height: 80px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
.post-container .post .content p{
    font-size: 14px;
    padding: 5px 0;
    color: #fff;
    text-align: justify;
    justify-content: center;
}




.project{
    background-image: url(image/team.png);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 80px;
}
.socillink{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: 450ms;
}
.socillink.show{
    transform: translateY(0);
    opacity: 1;
}
.socillink a {
    color: white;
    margin: 10px;
    margin-top: 100px;
    height: 50px;
    width: 50px;
    border: 2px solid #66FCF1;
    align-items: center;
    border-radius: 50%;   
}
.socillink a .fa{
    margin-top: 11px;
    font-size: 25px;
    transition: transform .2s;
}
.socillink a:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
    
}
.socillink a:hover .fa{
    background-color: white;
    color: black;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3); 
    transform: scale(1.3); 
}
.pro h1{
    display: flex;
    margin-top: 35px;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
    flex-direction: column;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;
}
.pro h1.show{
    transform: translateY(0);
    opacity: 1;
}
.pro p{
    text-align: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #66FCF1;
    width: 200px;
    margin-top: 40px;
    padding-bottom: 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transform: translateY(100px);
    opacity: 0;
    transition: 350ms;
}
.pro p.show{
    transform: translateY(0);
    opacity: 1;
}
.pro p:hover{
    cursor: pointer;
    border: 2px solid #43a59e;
}



.ftblock{
    width: 100%;
   /*border: 1px solid white; */
}
.foo1{
    width: 90%;
    display: flex;
    flex-direction: row; 
    margin: auto;
    /*border: 1px solid yellow;*/
}
.foo2{
    margin-top: 20px;
    width: 40%;
    padding-right: 20px;
    /*border: 1px solid blue;*/
}

.foo2 a{
    color: rgb(202, 202, 202);
    width: 5px;
    margin-top: 10px;
    font-weight: normal;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}
.foo2 a:hover{
    background-color: black;
    color: white;
}
.foo2 p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: rgb(202, 202, 202);
    margin-bottom: 1px;
}
/*.foo2 hr{
    margin-top: 30px;
    width: 100px;
    font-weight: bolder;
    color: #66FCF1;
    font-size: normal;
    float: left;
    border: 1px solid white;
} 
.foo{
    width: 15%;
} */
.foo3{
    width: 18%;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid white;*/
}
.foo3 h1{
    margin-top: 0px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 22px;
  /*  margin-left: 30px; */
    font-family: 'Times New Roman', Times, serif;
}
.foo3 li{
    margin-top: 30px;
    font-size: 15px;
    color: rgb(202, 202, 202); 
    line-height:0.5px;
    list-style: none;
}
.foo3 a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.foo3 a:hover{
    color: white;
}
.foo4{
    margin-top: 0px;
    width: 18%;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid green;*/
}
.foo4 h1{
    margin-top: 40px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.foo4 ul{
    margin-top: 30px;
    font-size: 16px;
    color: rgb(202, 202, 202);
    line-height: 0.5px;
    padding: 0.1px;
}
.foo4 a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.foo4 a:hover{
    color: white;
}
.foo5{
    width: 18%;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid red;*/
}
.foo5 h1{
    margin-top: 40px;
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.foo5 li{
    margin-top: 30px;
    margin-left: 1px;
    font-size: 15px;
    color: rgb(202, 202, 202);
    list-style: none;
    line-height:0.5px;
    padding: 0.1px;
}
.foo5 li a{
    /*text-decoration: none; */
    color: rgb(202, 202, 202);
}
.fthr hr{
    width: 90%;
    margin-top: 0px;
    margin: auto;
    border: 1px solid rgb(202, 202, 202);
}
.last{
    width: 90%;
    margin: 6px auto;
}
.last h1{
    color: rgb(202, 202, 202);
    font-size: 14px;
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 6px;
    float: left;
}
.koktail a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.llog {
    margin-top: 45px;
    margin-bottom: 4px;
}
.llog a{
    font-size: 18px;
    color: rgb(202, 202, 202);
    margin: 15px;
    transition: transform .2s;
}
.llog a:hover .fa{
    background: black;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
}















@media screen and (max-width: 800px)
{
    .black{
        width: 100%;
        
    }
    .black1{
        width: 95%;
        margin-top: 30px;
    }
    
    
    .navbar-brand{
        font-size: 20px;
    }
    

    .txt{
        margin-top: 25px;
    }
    
    a.li,
    a:hover {
        background: black;
        color: white;
        text-decoration: none;
        transform: .5s;
    }
    .mynavbar nav .container-fluid .d-flex a{
        font-size: 29px;
    }
    .main {
        display: flex;
        flex-direction: row;
    }
    
    .info {
        width: 59%;
        display: flex;
        flex-direction: row;
        margin-bottom: 1px;
    }
    .row1{
        margin: 0 auto;
        background-image: url(image/baklol2.png);
        background-position: center;
    }
    .row{
        margin: 0 auto;
    }
    .p {
        display: inline-block;
        flex-direction: column;
        margin-top: 40px; 
    
    }
    
    .p p{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        color: #66FCF1;
        margin-left: -1px;
        overflow:hidden;
        white-space: nowrap;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
    }
    .p p.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .p h1 {
        margin-top: 60px;
        font-size: 55px;
        font-weight: 600;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        width:100%;
        letter-spacing: 3px;
        transform: translateX(-100px);
        opacity: 0;
        transition: 550ms;
    }
    .p h1.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .p h4 {
        border: 2px solid #66FCF1;
        width: 140px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
        color: white;
        margin-top: 50px;
        letter-spacing: 0.6px;
        margin-left: 1px;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
    }
    .p h4.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .p h4:hover {
        color: white;
        cursor: pointer;
    }
    
    .image {
        background-image: url(image/baklol.png);
        display: inline-block;
        padding-right: 1px;
        width: 39%;
        background-size: cover;
    }
    
    .menu2 {
        color: white;
        display:flow-root;
        margin-top: 0px;
    }
    
    .menu2 h3 {
        font-size: 28px;
        margin-top: 20px;
        padding-left: 20px;
    }
    
    .menu2 p{
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 100;
        font-size: 14px;
        padding-left: 20px;
        line-height: 1.5;
        padding-bottom: 20px;
    }
    
    .future {
        color: white;
        float: left;
        background-color: #121212;
        border: 2px solid #121212;
        width: 99%;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
        margin-bottom: 20px;
    }
    .future.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .future:hover {
        border: 2px solid #66FCF1;
    }
    
    .future img {
        padding: 4px;
        margin: 10px 0px 0 0;
        background-color: #121212;
        height: 50px;
        margin-top: 30px;
        margin-left: 15px;
    }
    
    .big {
        color: white;
        float: left;
        background-color: #121212;
        border: 2px solid #66FCF1;
        width: 99%;
        margin:0 0px;
        transform: translateY(100px);
        opacity: 0;
        transition: 650ms;
        margin-bottom: 20px;
    }
    .big.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    
    .big:hover {
        border: 2px solid #66FCF1;
    }
    
    .big img {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        background-color: #121212;
        height: 55px;
        margin-top: 30px;
        margin-left: 15px;
    }
    
    .creative {
        color: white;
        background-color: #121212;
        border: 2px solid #121212;
        width: 99%;
        transform: translateY(100px);
        opacity: 0;
        transition: 750ms;
        padding-right: 0px;
    }
    .creative.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .creative:hover {
        border: 2px solid #66FCF1;
    }
    
    .creative img {
        display: inline-block;
        padding: 4px;
        margin: 4px;
        background-color: #121212;
        height: 60px;
        margin-top: 30px;
        margin-left: 15px;
    }
    
    
    
    
    .grey1{
        width:100%;
        background-color: #0B0C10;
        margin-top: 100px;
        display: flex;
    }
    
    .section2 {
        width: 90%;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    
    .name {
        color: white;
        
    }
    
    .name hr {
        width: 0px;
        display: block;
        float: left;
        margin-right: 10px;
        margin-top: 23px;
        border-color: #66FCF1;
        /* background: #66FCF1; */
        transform: translateX(-100px);
        opacity: 0;
        transition: 150ms;
    }
    .name hr.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    
    .name h3 {
        font-size: 35px;
        font-weight: 550;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
    }
    .name h3.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    
    .name h4 {
        font-size: 15px;
        font-weight: 500;
        margin-left: 10px;
        margin-top: 30px;
        font-family: Geneva, sans-serif;
        color: #66FCF1;
        transform: translateX(-100px);
        opacity: 0;
        transition: 450ms;
    }
    .name h4.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .services {
        text-align: center;
        color: white;
        display:flow-root;
        width: 100%;
        margin-top: 40px;
    }
    .services a{
        text-decoration: none;
        color: white;
    }
    
    .services h1 {
        font-family: Tahoma, sans-serif;
        font-size: 26px;
        font-weight: normal;
        margin-top: 10px;
    }
    
    .services p {
        font-family: Geneva, sans-serif;
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
        margin-left: 30px;
        margin-right: 40px;
        margin-top: 30px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    
    .digital {
        margin: 20px;
        box-sizing: content-box;
        background-color: #121212;
        border-radius: 0px;
        box-shadow: 0 4px white;
        transform: translateY(100px);
        opacity: 0;
        transition: 250ms;
        width: 100%;
        margin: auto;
    }
    .digital.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .digital img {
        display: inline-block;
        padding: 4px;
        margin: 20px 0px 0 0;
        background-color: #121212;
        height: 50px;
    }
    
    .digital:hover {
        box-shadow: 0 4px #66FCF1;
        cursor: pointer;
    }
    
    
    .uidesign {
        margin: 20px;
        color: black;
        background-color: #66FCF1;
        box-sizing: content-box;
        border-radius: 0px;
        box-shadow: 0 4px white;
        transform: translateY(100px);
        opacity: 0;
        transition: 450ms;
        width: 100%;
        margin: auto;
    }
    .uidesign.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .uidesign img {
    
        display: inline-block;
        padding: 4px;
        margin: 20px 0px 0 0;
        background-color: #66FCF1;
        height: 55px;
    }
    
    .uidesign:hover {
        box-shadow: 0 4px white;
        cursor: pointer;
    }
    
    .cwriting {
        margin: 20px;
        background-color: #121212;
        box-sizing: content-box;
        border-radius: 0px;
        box-shadow: 0 4px white;
        transform: translateY(100px);
        opacity: 0;
        transition: 650ms;
        width: 100%;
        margin: auto;
    }
    .cwriting.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .cwriting img {
        display: inline-block;
        padding: 4px;
        margin: 20px 0px 0 0;
        background-color: #121212;
        height: 50px;
    }
    
    .cwriting:hover {
        box-shadow: 0 4px #66FCF1;
        cursor: pointer;
    }
    
    
    
    
    
    .services2 {
        text-align: center;
        color: white;
        display: flow-root;
        float: left;
        width: 100%;
        margin-top: 1px;
    }
    
    .services2 h1 {
        font-family: Tahoma, sans-serif;
        font-size: 30px;
        font-weight: normal;
        margin-top: 10px;
    }
    
    .services2 p {
        font-family: Geneva, sans-serif;
        font-size: 14px;
        text-align: left;
        line-height: 1.6;
        margin-left: 30px;
        margin-right: 40px;
        margin-top: 30px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    
    .Marketing {
        margin: 20px;
        box-sizing: content-box;
        background-color: #121212;
        border-radius: 0px;
        box-shadow: 0 4px white;
        transform: translateY(100px);
        opacity: 0;
        transition: 250ms;
        margin-bottom: 4px;
        width: 100%;
        margin: auto;
    }
    .Marketing.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .Marketing img {
        display: inline-block;
        padding: 4px;
        margin: 20px 0px 0 0;
        background-color: #121212;
        height: 50px;
    }
    
    .Marketing:hover {
        box-shadow: 0 4px #66FCF1;
        cursor: pointer;
    }
    
    .Web {
        margin: 20px;
        color: white;
        background-color: #121212;
        box-sizing: content-box;
        border-radius: 0px;
        box-shadow: 0 4px white;
        transform: translateY(100px);
        opacity: 0;
        transition: 450ms;
        margin-bottom: 4px;
        width: 100%;
        margin: auto;
    }
    .Web.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .Web img {
    
        display: inline-block;
        padding: 4px;
        margin: 20px 0px 0 0;
        background-color: #121212;
        height: 55px;
    }
    
    .Web:hover {
        box-shadow: 0 4px #66FCF1;
        cursor: pointer;
    }
    
    .Social {
        margin: 20px;
        background-color: #121212;
        box-sizing: content-box;
        border-radius: 0px;
        box-shadow: 0 4px white;
        transform: translateY(100px);
        opacity: 0;
        transition: 650ms;
        margin-bottom: 4px;
        width: 100%;
        margin: auto;
    }
    .Social.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .Social img {
        display: inline-block;
        padding: 4px;
        margin: 20px 0px 0 0;
        background-color: #121212;
        height: 50px;
    }
    
    .Social:hover {
        box-shadow: 0 4px #66FCF1;
        cursor: pointer;
    }
    

    
    
    
    
    
    .section3{
        background-color: #121212;
        width: 100%;
        margin: 0 auto; 
        height: 185vh;
    }
    
    .works {
        width: 85%;
        margin: 0 auto; 
    }
    
    .header1 {
        color: white;
     /*  border:1px solid white; */
    }
    .header1 a{
        text-decoration: none;
        color: white;
    }
    
    .heading hr{
        width:0px;
        height:2px;
        display: block;
        margin-left: 10px;
        float: left;
        margin-right: 0px;
        margin-top: 18px;
        border-color: #66FCF1;
        transform: translateX(-100px);
        opacity: 0;
        transition: 150ms;
    }
    .heading hr.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .heading h3{
        font-size: 45px;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 100px;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
    }
    .heading h3.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .heading h4{
        font-size: 16px;
        margin-left: 10px;
        margin-top: 30px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color:#66FCF1;
        margin-bottom: 50px;
        letter-spacing: 0.6px;
        transform: translateX(-100px);
        opacity: 0;
        transition: 550ms;
    }
    .heading h4.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    
    .wview{
        border: 2px solid #66FCF1;
        width: 110px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        margin-top: 120px;
        margin: auto;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
        margin-bottom: 10px;
    }
    .wview.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .wview:hover{
        cursor: pointer;
    }
    
    .pictures{
        display: flow-root; 
        width: 95%;
        padding-right: 5px;
        margin: 0 auto;
    }
    
    .pictures img{
        width: 99%;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .img1{
        transform: translateY(100px);
        opacity: 0;
        transition: 250ms;
    }
    .img1.show{
        transform: translateY(0);
        opacity: 1;
    }
    .img2{
        transform: translateY(100px);
        opacity: 0;
        transition: 450ms;
    }
    .img2.show{
        transform: translateY(0);
        opacity: 1;
    }
    .img3{
        transform: translateY(100px);
        opacity: 0;
        transition: 550ms;
    }
    .img3.show{
        transform: translateY(0);
        opacity: 1;
    }
    .img4{
        transform: translateY(100px);
        opacity: 0;
        transition: 650ms;
    }
    .img4.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    
    
    .about {
        width: 85%;
        display: flexbox;
        margin: 0 auto; 
    }
    
    .aname {
        color: white;
        margin-top: 100px;
    }
    
    .aname hr{
        width:0px;
        height:2px;
        display: block;
        float: left;
        margin-right: 10px;
        margin-top: 26px;
        border-color: #66FCF1;
       /* background: #66FCF1; */
       transform: translateX(-100px);
       opacity: 0;
       transition: 250ms;
    }
    .aname hr.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .aname h3{
        font-size: 45px;
        margin-left: 0px;
        font-family: arial;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
        font-family: 'Montserrat', sans-serif;
    }
    .aname h3.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .aname h4{
        font-size: 16px;
        margin-left: 10px;
        margin-top: 30px;
        font-family: Geneva, sans-serif;
        color:#66FCF1;
        font-weight: 200;
        transform: translateX(-100px);
        opacity: 0;
        transition: 450ms;
    }
    .aname h4.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .blocks{
      /*  border: 1px solid white;  */
        display: flow-root;
        margin-top: 60px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .blocks h3{
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
    }
    .blocks h3.show{
        transform: translateY(0);
        opacity: 1;
    }
    .block1{
        background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(image/off1.png);
        float:left;
        height:700px;
        width: 99%;
        background-size: cover;   
    }
    
    .block1 h3{
        color: white;
        height: 30px;
        width: 200px;
        margin-top: 600px;
        margin-left: 20px;
        font-size: 25px;
    }
    
    .block1 h4{
        color: white;
        height: 30px;
        width: 300px;
        margin-left: 20px;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
    }
    
    .block2 {
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(image/off2.png);
        background-size: cover;
        float: right;
        height:325px;
        margin-top: 50px;
        width: 99%;
    }
    
    .block2 h3{
        color: white;
        height: 20px;
        width: 200px;
        margin-top: 250px;
        margin-left: 20px;
        font-size: 25px;
    }
    
    .block2 h4{
        color: white;
        height: 30px;
        width: 300px;
        margin-left: 20px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .block3 {
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(image/off4.png);
        background-size: cover;
        height:325px;
        width: 99%;
        margin-top: 50px;
        float:right;
    }
    
    .block3 h3{
        color: white;
        height: 20px;
        width: 200px;
        margin-top: 240px;
        margin-left: 20px;
        font-size: 25px;
    }
    
    .block3 h4{
        color: white;
        height: 30px;
        width: 300px;
        margin-left: 20px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
    }
    
    .amoto{
        color: white;
        display: flow-root; 
        margin-top: 520px;
        font-family: Arial, Helvetica, sans-serif;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
        padding-top: 280px;    
    }
    .amoto.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .amoto h3{
        font-size: 23px;
    }
    
    .amoto p{
        font-size: 14px;
        text-align: center;
        line-height: 1.8;
        margin-top: 30px;
    }
    .who{
        width: 70%;
        margin: auto;
        align-items: center;
        text-align: center;
      /*  border: 1px solid white;  */
    }
    
    
    
    
    
    .testimonials{
        background-color: #121212;
        width: 100%;
    }
    
    .theader {
        width: 85%;
        color: white;
        /*border:2px solid white; */
        margin: 0 auto; 
        font-family: arial;
    }
    
    .theader hr{
        width:0px;
        height:2px;
        display: block;
        float: left;
        border-color: #66FCF1;
        margin-top: 25px;
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
       /* background: #66FCF1; */
    }
    .theader hr.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .theader h3{
        font-size: 45px;
        margin-left: 0px;
        padding-top: 60px; 
        transform: translateX(-100px);
        opacity: 0;
        transition: 250ms;
        font-family: 'Montserrat', sans-serif;
    }
    .theader h3.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .theader h4{
        font-size: 16px;
        font-weight: normal;
        margin-left: 0px;
        text-transform: uppercase;
        color:#66FCF1;
        margin-bottom: 40px;
        letter-spacing: 0.6px;
        margin-top: 30px;
        transform: translateX(-100px);
        opacity: 0;
        transition: 550ms;
    }
    .theader h4.show{
        transform: translateX(0);
        opacity: 1;
    }
    
    .feedback{
        display: flow-root;
        float: left;
        width: 100%;
    }
    
    .feeds{
        width: 90%; 
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 40px;
        background-color: #121212;
        color: white;
        margin-bottom: 100px;
        display: flexbox;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
    }
    .feeds.show{
        transform: translateY(0);
        opacity: 1;
    }
    
    .imag{
        height: 59px;
        width: 80px;
        margin-top: 0px;
        background-image: url(image/test.png);
        background-size: 100%;
    }
    
    .fi1{
        height: 68%;
        padding-top: 30px;
        background-color: black;
        border: 1px solid rgb(73, 73, 73);
    }
    .feeds img{
        background-color: black;
        height: 70px;
        margin-left: 40%;
        margin-top: 37px;
        border-radius: 50%;  
    }
    
    .feeds p{
        text-align: center;
        line-height: 1.5;
        letter-spacing: 0.3px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px; 
    }
    
    .feeds h5{
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .feeds h6{
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
        letter-spacing: 0.5px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    
    .latest{
        width: 100%;
        display: flex;
        flex-direction: column;  
    }
    .late2{
        margin-top: 90px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .late2 h1 {
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 45px;
        color: white;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;  
    }
    .late2 h1.show{
        transform: translateX(0);
        opacity: 1;
    }
    .late2 p{
        font-size: 15px;
        color:#66FCF1;
        margin-top: 25px;
        margin-bottom: 20px;
        transform: translateY(100px);
        opacity: 0;
        transition: 450ms;
    }
    .late2 p.show{
        transform: translateX(0);
        opacity: 1;
    }
    .tarikh{
        width: 50%;
        margin-left: 25%;
        font-family: Arial, Helvetica, sans-serif;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
        margin-bottom: 75px;
    }
    .tarikh.show{
        transform: translateX(0);
        opacity: 1;
    }
    .tarikh h6{
        font-size: 15px;
        font-weight: 500;
        margin-top: 50px;
        color: white;
        margin-bottom: 15px;   
    }
    .tarikh h3 a{
        font-size: 25px;
        font-weight: 500;
        color: white; 
    }
    .tarikh p{
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
        color: white;
        margin-bottom: 20px;
    }
    .tarikh h4 a{
        font-size: 15px;
        font-weight: 500;
        color: #66FCF1;
    }
    .tarikh a:hover{
        background-color: black;
    }
        
    
    
    
    
    .project{
        background-image: url(image/team.png);
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: white;
        padding-bottom: 100px;
    }
    .socillink{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100px);
        opacity: 0;
        transition: 450ms;
    }
    .socillink.show{
        transform: translateY(0);
        opacity: 1;
    }
    .socillink a {
        color: white;
        margin: 10px;
        margin-top: 100px;
        height: 50px;
        width: 50px;
        border: 2px solid #66FCF1;
        align-items: center;
        border-radius: 50%;   
    }
    .socillink a .fa{
        margin-top: 11px;
        font-size: 25px;
        transition: transform .2s;
    }
    .socillink a:hover {
        background-color: white;
        color: black;
        border: 2px solid white;
        
    }
    .socillink a:hover .fa{
        background-color: white;
        color: black;
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3); 
        transform: scale(1.3); 
    }
    .pro h1{
        display: flex;
        margin-top: 35px;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        align-items: center;
        flex-direction: column;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
    }
    .pro h1.show{
        transform: translateY(0);
        opacity: 1;
    }
    .pro p{
        border: 2px solid #66FCF1;
        width: 200px;
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        align-items: center;
        margin: auto;
        margin-top: 40px;
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
        transform: translateY(100px);
        opacity: 0;
        transition: 350ms;
    }
    .pro p.show{
        transform: translateY(0);
        opacity: 1;
    }
    .pro p:hover{
        cursor: pointer;
        border: 2px solid #43a59e;
    }
    
    
    
    .ftblock{
        width: 100%;
        
    }
    .foo1{
        width: 90%;
        display: flow-root;
        margin: auto;
        flex-direction: row;
    }
    .foo2{
        margin-top: 70px;
        width: 90%;
        margin: auto;
        text-align: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 50px;
    }
    .foo2 a{
        color: white;
        height: 10vh;
        margin-bottom: 2px;
        text-decoration: none;
        width: 5px;
        font-weight: normal;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
    }
    .foo2 a:hover{
        background-color: black;
    }
    .foo2 p{
        margin-top: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.7;
        color: rgb(182, 178, 178);
        margin-bottom: 50px;
    }
    .foo2 hr{
        margin-top: 30px;
        width: 100px;
        font-weight: bolder;
        color: #66FCF1;
        font-size: normal;
        float: left;
    }
    .foo3{
        width: 80%;
        margin-top: 10px;
        margin: auto;
        text-align: center;
        align-items: center;
        
        font-family: Arial, Helvetica, sans-serif;
    }
    .foo3 h1{
        margin-top: 40px;
        color: white;
        font-weight: normal;
        font-size: 22px;
        margin-left: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .foo3 li{
        margin-top: 20px;
        margin-left: 0px;
        font-size: 16px;
        color: white;  
        line-height:10px;
    }
    .foo3 a{
        text-decoration: none;
        color: white;
    }
    .foo4{
        margin-top: 50px;
        width: 80%;
        margin: auto;
        text-align: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .foo4 h1{
        margin-top: 40px;
        color: white;
        font-weight: normal;
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
    }
    .foo4 ul{
        margin-top: 10px;
        font-size: 15px;
        color: white;
        line-height: 1; 
        margin-left: 0px;  
    }
    .foo4 a{
        text-decoration: none;
        color: white;
    }
    .foo5{
        width: 80%;
        margin-top: 30px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
    }
    .foo5 h1{
        margin-top: 40px;
        color: white;
        font-weight: normal;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .foo5 li{
        margin-top: 30px;
        margin-left: 1px;
        font-size: 15px;
        color: white; 
    }
    .foo5 li a{
        /*text-decoration: none; */
        color: white;
    }
    .fthr hr{
        width: 80%;
        height: 2px;
        margin-top: 80px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .last{
        width: 80%;
        height: 5vh;
        margin: 0 auto;
    }
    .last h1{
        color: rgb(182, 178, 178);
        font-size: 14px;
        margin-top: 8px;
        font-weight: normal;
        margin-bottom: 8px;
        float: left;
    }
    .koktail a{
        text-decoration: none;
        color: whitesmoke;
    }
    .llog {   
        margin: 5px;
    }
    .llog a{
        font-size: 20px;
        color: whitesmoke;
        margin: 8px;
        transition: transform .2s;
    }
    .llog a:hover .fa{
        background: black;
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2); 
        transform: scale(1.2); 
    }
    
}
